---
import Article from '../pages/article.md'
---

<section id="content" class="px-3 py-2 my-1 m-auto">
    <Article/>
</section>

<style>
    #content{
        max-width: 600px;
    }
    
</style>
    
<script>
    
</script>