<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="#" />
		{/*<meta name="generator" content={Astro.generator} />*/}
		<meta name="description" content="Pokemon Blaze Black 2 Redux is a modified version of Pokemon Black 2 made by AphexCubed and Drayano. You can download it now, and the last update was on June 24, 2023.">
		<title>Pokemon Blaze Black 2 Download</title>

	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body{
		margin: 0;
		padding: 0;
	}
</style>
